.flex-menu{
    background-color: rgba(180, 210, 210, 0.878);
    height: 60px;
    font-size: larger;
    letter-spacing: 2px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}